<footer class="container-fluid footer-container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="footer-content">
                <h3>Rambling Joint</h3>
                <p>A distorted look at life.</p>

                <!--<p class="disclaimer"></p>-->
                <hr>
                <span class="copyright">&copy; Copyright {{ 'now' | date: "%Y" }}, <a class="copyright-link" href="https://twitter.com/ramblingjoint" target="_blank">Writer and Geek</a>. This podcast, the content and opinions are our own and does not reflect the opinions of our employers.</span>
                <div class="text-center social-links">
                    <ul class="list-inline">
                        <li>
                            <a href="https://facebook.com/ramblingjoint" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ramblingjoint" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://instagram.com/ramblingjoint" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://itunes.apple.com/us/podcast/id1356152463" target="_blank"><i class="fa fa-apple fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="http://feeds.feedburner.com/ramblingjoint" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
                        </li>
                    </ul>                 
                </div>
            </div> 
        </div>                       
    </div>
</footer>

<script src="/js/site.js"></script>
<script src="/js/media.js"></script>
<script src="/js/timejump.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('[data-toggle="popover"]').popover();
    });
</script>
