.mejs-button button,
.mejs-overlay-button,
.mejs-overlay-loading span,
.mejs-poster {
    background-repeat: no-repeat
}
.mejs-wrapper {
    padding-bottom: 48px
}
.mejs-container * {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.mejs-container ul {
    list-style: none
}
.mejs-fullscreen {
    overflow: hidden!important
}
.mejs-container-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000
}
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
    width: 100%;
    height: 100%
}
.mejs-embed,
.mejs-embed body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}
.me-plugin {
    position: absolute
}
.mejs-container,
.mejs-inner {
    position: relative
}
.me-cannotplay a {
    font-weight: 700
}
.me-cannotplay span {
    padding: 15px;
    display: block
}
.mejs-container {
    text-align: left;
    vertical-align: top;
    height: auto;
    font-family: Helvetica, Arial
}
.mejs-mediaelement {
    position: relative;
    width: 100%
}
.mejs-mediaelement audio,
.mejs-mediaelement video {
    display: block
}
.mejs-layers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.mejs-overlay {
    position: absolute;
    width: 100%;
    height: 100%!important
}
.mejs-poster {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: 50% 50%
}
:root .mejs-poster img {
    display: none
}
.mejs-poster img {
    border: 0;
    vertical-align: middle
}
.mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: -30px 0 0 -30px
}
.mejs-overlay-loading span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center
}
.mejs-overlay-play {
    cursor: pointer
}
.mejs-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -30px!important;
    margin-left: -30px;
    background-position: 23px 50%
}
.mejs-controls {
    position: absolute;
    height: 48px;
    bottom: -48px;
    width: 100%;
    padding: 0 18px
}
.mejs-container-fullscreen .mejs-controls {
    bottom: 0
}
.mejs-controls>div {
    display: block;
    float: left;
    font-size: 11px
}
.mejs-controls>div+div {
    margin-left: 18px
}
.mejs-button button {
    display: block;
    height: 12px;
    width: 12px;
    margin-top: 18px;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    opacity: .7;
    cursor: pointer
}
.mejs-button button:hover,
.mejs-controls .mejs-loop-on button {
    opacity: 1
}
.mejs-play button {
    background-position: 0 0
}
.mejs-pause button {
    background-position: -12px 0
}
.mejs-stop button {
    background-position: -24px 0
}
.mejs-time span {
    display: block;
    float: left
}
.mejs-time .mejs-currenttime {
    line-height: 48px
}
.mejs-controls .mejs-loop-off button {
    background-position: -36px 0
}
.mejs-blue .mejs-controls .mejs-loop-on button {
    background-position: -36px -12px
}
.mejs-wng .mejs-controls .mejs-loop-on button {
    // background-position: -36px -24px
    background-position: -36px -60px;
    filter: hue-rotate(325deg);
    background-color: salmon;
}
.mejs-yellow .mejs-controls .mejs-loop-on button {
    background-position: -36px -36px
}
.mejs-turquoise .mejs-controls .mejs-loop-on button {
    background-position: -36px -48px
}
.mejs-orange .mejs-controls .mejs-loop-on button {
    background-position: -36px -60px
}
.mejs-controls .mejs-time-rail {
    margin-left: 10px
}
.mejs-controls .mejs-time-rail span {
    display: block;
    cursor: pointer
}
.mejs-controls .mejs-time-rail .mejs-time-total {
    position: relative;
    margin-top: 23px;
    height: 2px
}
.mejs-controls .mejs-time-rail .mejs-time-total:hover {
    margin-top: 21px;
    height: 6px
}
.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    width: 0;
    height: 100%;
    position: absolute
}
.mejs-controls .mejs-time-rail .mejs-time-handle {
    display: none;
    position: absolute;
    height: 100%;
    margin: 0;
    width: 10px;
    text-align: center;
    cursor: pointer
}
.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    text-align: center;
    margin-top: -8px;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%)
}
.mejs-time-float-current {
    padding: 4px;
    line-height: 1em
}
.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    position: absolute;
    display: inline-block;
    margin-left: -6px;
    width: 0;
    height: 0;
    bottom: -9px;
    border: 6px solid;
    line-height: 0
}
.mejs-controls .mejs-duration-container {
    margin-left: 10px;
    line-height: 48px
}
.mejs-controls .mejs-volume-button button {
    position: relative
}
.mejs-mute button {
    background-position: -48px 0
}
.mejs-unmute button {
    background-position: -48px -12px
}
.mejs-controls .mejs-horizontal-volume-slider {
    height: 2px;
    width: 60px;
    margin-top: 23px;
    margin-left: 5px;
    position: relative
}
.mejs-controls .mejs-horizontal-volume-slider:hover {
    height: 6px;
    margin-top: 21px
}
.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%
}
.mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    display: none
}
.mejs-controls .mejs-sourcechooser-button {
    position: relative;
    height: 48px
}
.mejs-controls .mejs-sourcechooser-button button {
    background-position: -72px 0
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
    visibility: hidden;
    position: absolute;
    bottom: 48px;
    border-radius: 2px;
    overflow: hidden;
    right: 50%;
    padding-bottom: 6px;
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0)
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border: 6px solid;
    -moz-transform: scale(1.01)
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul {
    display: block;
    padding: 2px 2px 0;
    border-radius: 2px
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {
    display: block;
    overflow: hidden;
    text-align: center;
    line-height: 1em
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input:checked+label,
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover label {
    cursor: pointer
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label {
    margin-bottom: 2px;
    padding: 6px;
    border-radius: 2px;
    display: block;
    overflow: hidden;
    white-space: nowrap
}
.mejs-controls .mejs-fullscreen-button button,
.mejs-controls .mejs-unfullscreen button {
    background-position: -84px 0
}
.mejs-clear {
    clear: both
}
#media_theme .mejs-container button {
    background-color: transparent
}
#media_theme .mejs-container,
#media_theme .mejs-embed,
.mejs-embed body {
    background-color: #000
}
#media_theme .mejs-controls .mejs-time-rail .mejs-time-total,
#media_theme .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background-color: rgba(0, 0, 0, .1)
}
#media_theme .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background-color: rgba(0, 0, 0, .15)
}
#media_theme .mejs-controls,
#media_theme .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul,
#media_theme .mejs-overlay-button,
#media_theme .mejs-overlay-loading {
    background-color: #FFF
}
#media_theme .me-cannotplay a,
#media_theme .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input:checked+label,
#media_theme .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover label,
#media_theme .mejs-controls .mejs-time-rail .mejs-time-float {
    color: #FFF
}
#media_theme .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector:after {
    border-color: #FFF transparent transparent
}
#media_theme .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li,
#media_theme .mejs-time span {
    color: #A8A8A8
}
#media_theme .mejs-blue .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input:checked+label,
#media_theme .mejs-blue .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover label,
#media_theme .mejs-blue .mejs-controls .mejs-time-rail .mejs-time-current,
#media_theme .mejs-blue .mejs-controls .mejs-time-rail .mejs-time-float,
#media_theme .mejs-blue .mejs-controls .mejs-time-rail .mejs-time-handle,
#media_theme .mejs-blue .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background-color: #70C7F4
}
#media_theme .mejs-blue .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    border-color: #70C7F4 transparent transparent
}
#media_theme .mejs-wng .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input:checked+label,
#media_theme .mejs-wng .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover label,
#media_theme .mejs-wng .mejs-controls .mejs-time-rail .mejs-time-current,
#media_theme .mejs-wng .mejs-controls .mejs-time-rail .mejs-time-float,
#media_theme .mejs-wng .mejs-controls .mejs-time-rail .mejs-time-handle,
#media_theme .mejs-wng .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background-color: salmon
}
#media_theme .mejs-wng .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    border-color: salmon transparent transparent
}
#media_theme .mejs-yellow .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input:checked+label,
#media_theme .mejs-yellow .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover label,
#media_theme .mejs-yellow .mejs-controls .mejs-time-rail .mejs-time-current,
#media_theme .mejs-yellow .mejs-controls .mejs-time-rail .mejs-time-float,
#media_theme .mejs-yellow .mejs-controls .mejs-time-rail .mejs-time-handle,
#media_theme .mejs-yellow .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background-color: #F9BA00
}
#media_theme .mejs-yellow .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    border-color: #F9BA00 transparent transparent
}
#media_theme .mejs-turquoise .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input:checked+label,
#media_theme .mejs-turquoise .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover label,
#media_theme .mejs-turquoise .mejs-controls .mejs-time-rail .mejs-time-current,
#media_theme .mejs-turquoise .mejs-controls .mejs-time-rail .mejs-time-float,
#media_theme .mejs-turquoise .mejs-controls .mejs-time-rail .mejs-time-handle,
#media_theme .mejs-turquoise .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background-color: #5BCCCA
}
#media_theme .mejs-turquoise .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    border-color: #5BCCCA transparent transparent
}
#media_theme .mejs-orange .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input:checked+label,
#media_theme .mejs-orange .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li:hover label,
#media_theme .mejs-orange .mejs-controls .mejs-time-rail .mejs-time-current,
#media_theme .mejs-orange .mejs-controls .mejs-time-rail .mejs-time-float,
#media_theme .mejs-orange .mejs-controls .mejs-time-rail .mejs-time-handle,
#media_theme .mejs-orange .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background-color: #F39F4B
}
#media_theme .mejs-orange .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    border-color: #F39F4B transparent transparent
}
#media_theme .mejs-overlay-button {
    background-image: url(/images/media/play.png);
    background-size: 20px 24px
}
#media_theme .mejs-button button {
    background-image: url(/images/media/controls.png);
    background-size: 96px 72px
}