// /**
//  * Syntax highlighting styles
//  */
// .highlight {
//     // background: #fff;
//     // @extend %vertical-rhythm;

//     .c     { color: #998; font-style: italic } // Comment
//     .err   { color: #a61717; } // Error
//     .k     { color: #2e7d32; } // Keyword
//     .o     { color: #c62828; } // Operator
//     .cm    { color: #998; font-style: italic } // Comment.Multiline
//     .cp    { color: #999; font-weight: bold } // Comment.Preproc
//     .c1    { color: #998; font-style: italic } // Comment.Single
//     .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
//     .gd    { color: #000; background-color: #fdd } // Generic.Deleted
//     .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
//     .ge    { font-style: italic } // Generic.Emph
//     .gr    { color: #a00 } // Generic.Error
//     .gh    { color: #999 } // Generic.Heading
//     .gi    { color: #000; background-color: #dfd } // Generic.Inserted
//     .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
//     .go    { color: #888 } // Generic.Output
//     .gp    { color: #555 } // Generic.Prompt
//     .gs    { font-weight: bold } // Generic.Strong
//     .gu    { color: #aaa } // Generic.Subheading
//     .gt    { color: #a00 } // Generic.Traceback
//     .kc    { font-weight: bold } // Keyword.Constant
//     .kd    { color: #1565c0; } // Keyword.Declaration
//     .kp    { font-weight: bold } // Keyword.Pseudo
//     .kr    { font-weight: normal } // Keyword.Reserved
//     .kt    { color: #c62828; } // Keyword.Type
//     .m     { color: #099 } // Literal.Number
//     .s     { color: #d14 } // Literal.String
//     .na    { color: #008080 } // Name.Attribute
//     .nb    { color: #0086B3 } // Name.Builtin
//     .nc    { color: #458; font-weight: normal } // Name.Class
//     .no    { color: #008080 } // Name.Constant
//     .ni    { color: #800080 } // Name.Entity
//     .ne    { color: #900; font-weight: normal } // Name.Exception
//     .nf    { color: #900; font-weight: normal } // Name.Function
//     .nn    { color: #555 } // Name.Namespace
//     .nt    { color: #000080 } // Name.Tag
//     .nv    { color: #008080 } // Name.Variable
//     .ow    { font-weight: bold } // Operator.Word
//     .w     { color: #bbb } // Text.Whitespace
//     .mf    { color: #099 } // Literal.Number.Float
//     .mh    { color: #099 } // Literal.Number.Hex
//     .mi    { color: #099 } // Literal.Number.Integer
//     .mo    { color: #099 } // Literal.Number.Oct
//     .sb    { color: #d14 } // Literal.String.Backtick
//     .sc    { color: #d14 } // Literal.String.Char
//     .sd    { color: #d14 } // Literal.String.Doc
//     .s2    { color: #d14 } // Literal.String.Double
//     .se    { color: #d14 } // Literal.String.Escape
//     .sh    { color: #d14 } // Literal.String.Heredoc
//     .si    { color: #d14 } // Literal.String.Interpol
//     .sx    { color: #d14 } // Literal.String.Other
//     .sr    { color: #009926 } // Literal.String.Regex
//     .s1    { color: #d14 } // Literal.String.Single
//     .ss    { color: #990073 } // Literal.String.Symbol
//     .bp    { color: #999 } // Name.Builtin.Pseudo
//     .vc    { color: #008080 } // Name.Variable.Class
//     .vg    { color: #008080 } // Name.Variable.Global
//     .vi    { color: #008080 } // Name.Variable.Instance
//     .il    { color: #099 } // Literal.Number.Integer.Long
// }

// Cobalt
//  code[class*="language-"],pre[class*="language-"]{color:#f8f8f2;text-shadow:0 1px rgba(0,0,0,0.3);font-family:Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.35;-moz-tab-size:2;-o-tab-size:2;tab-size:2;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}pre[class*="language-"]{padding:1em;margin:.5em 0;overflow:auto;border-radius:0;border:0;}:not(pre) > code[class*="language-"],pre[class*="language-"]{background:#08253a;}:not(pre) > code[class*="language-"]{padding:.1em;border-radius:.3em;white-space:normal;}.prism-show-language{background:#1f4662;border-top:3px solid lightgreen;text-align:right;padding:5px;color:white;font-size:14px;}.prism-show-language + pre{margin-top:0;}.token.comment,.token.prolog,.token.doctype,.token.cdata{color:#08f;}.token.comment{font-style:italic;}.token.punctuation{color:#d20f0f;}.namespace{opacity:.7;}.token.property,.token.tag,.token.constant,.token.symbol,.token.deleted{color:#f92672;}.token.boolean,.token.number{color:#ff628c;}.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted{color:#3ad900;}.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string,.token.variable{color:#f8f8f2;}.token.atrule,.token.attr-value{color:#ffc600;}.token.keyword.keyword-function{color: #8354dc;font-style: italic;}.token.keyword{color:#ff9d00;}.token.operator{color:#ff9d00;}.token.function{color:#ffc600;}.token.keyword.keyword-const,.token.keyword.keyword-var,.token.keyword.keyword-let{color:#ffc600;}.token.regex,.token.important{color:#fd971f;}.token.important,.token.bold{font-weight:bold;}.token.italic{font-style:italic;}.token.entity{cursor:help;}pre.line-numbers,pre.line-numbers>code{position:relative}pre.line-numbers{padding-left:3.8em;counter-reset:linenumber}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{pointer-events:none;display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}

/* material */
code[class*=language-],pre[class*=language-]{font-family:Operator Mono,monospace}code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:none;text-shadow:0 1px rgba(0,0,0,.3);font-family:'Fira Code',Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;-moz-tab-size:2;-o-tab-size:2;tab-size:2;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}pre[class*=language-]{padding:1em;overflow:auto;}:not(pre)>code[class*=language-],pre[class*=language-]{background:#253238}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.prism-show-language{background:#142127;border-top:3px solid lightgreen;text-align:right;padding:5px;color:white;font-size:14px;}.prism-show-language + pre{margin-top:0;}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#89ddfd}.namespace{opacity:.7}.token.constant,.token.deleted,.token.property,.token.symbol{color:#b2ccd6}.token.tag{color:#f07178}.token.boolean,.token.number{color:#f78661}.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#c3e076}.token.attr-name{color:#fecb68;font-style:italic}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#89ddfd}.token.variable{color:#eff}.token.atrule,.token.function{color:#82aafc}.token.attr-value{color:#c4e88d}.token.keyword{color:#c792ea}.token.important,.token.regex{color:#fd971f}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.comment,.token.keyword{font-style:italic}pre.line-numbers{padding-left:3.8em;counter-reset:a}pre.line-numbers,pre.line-numbers>code{position:relative}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #444;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{pointer-events:none;display:block;counter-increment:a}.line-numbers-rows>span:before{content:counter(a);color:#555;display:block;padding-right:.8em;text-align:right}