---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron-single text-center">
            <div class="col-md-8 col-md-offset-2">
                <p class="post-meta">EP - {{ page.episode }}</p>
                <h1 class="post-title-single">{{ page.title }}</h1>
                <!--<h3 class="post-desc-single">{{ page.excerpt }}</h3>-->
                <p class="post-meta">{{ page.date | date: "%B %d, %Y" }}</p>
            </div>               
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="row">
        <article class="col-md-6 col-md-offset-3 single-article">
            <div class="post-body">
                <h3>{{ page.summary }}</h3>
                {% if page.audio %}
                <audio controls preload="none">
                    <source src="http://dts.podtrac.com/redirect.mp3/{{ page.audio | remove:'http://' }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <a href="http://dts.podtrac.com/redirect.mp3/{{ page.audio | remove:'http://' }}" download>
                    <strong>
                    Download MP3 ({{ page.length | divided_by: 1000000 | round: 2 }} MB)
                    </strong>
                </a>
                {% endif %}
                {{ content }}

                <hr>
                <h3> We are social!</h3>
                <ul>
                    <li>Facebook: <a href="https://www.facebook.com/writerandgeek/" target="_blank">fb.com/writerandgeek</a></li>
                    <li>Twitter: <a href="https://twitter.com/writerandgeek/" target="_blank">@writerandgeek</a></li>
                    <li>Instagram: <a href="https://instagram.com/writerandgeek/" target="_blank">@writerandgeek</a></li>
                </ul>
            </div>
            <div class="PageNavigation">
                {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                {% endif %}
                    <a class="back_home" href="/">Home</a>
                {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                {% endif %}
            </div>           
        </article>
        <div class="col-md-6 col-md-offset-3">
            {% if page.comments %}
            <div id="disqus_thread"></div>
            {% endif %}
        </div>
    </div>
</section>