---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron-single text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="post-title-single">{{ page.title }}</h1>
                <!--<h3 class="post-desc-single">{{ page.excerpt }}</h3>-->
                <p class="post-meta">{{ page.date | date: "%B %d, %Y" }}</p>
            </div>               
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="row">
        <article class="col-md-6 col-md-offset-3 single-article">
            <div class="post-body">
                <h3>{{ page.summary }}</h3>
                {% if page.audio %}
                <div id="media_theme">
                    <!-- CONTAINER -->
                    <div class="media-theme-wrapper">                            
                            <div class="theme-container">                         
                                <!-- AUDIO CONTAINER -->
                                <div>                                    
                                    <!-- MEDIAELEMENT AUDIO ( COPY THIS ) -->
                                    <div class="mejs-audio-wrapper mejs-wng">
                                        <div class="col-xs-11">
                                            <audio src="{{ page.audio }}" width="100%" height="48" controls="controls" preload="none">
                                                <p>Your browser doesn't support audio.</p>
                                            </audio>
                                        </div>                        
                                        <div class="col-xs-1">
                                            <a href="{{ page.audio }}" class="ep-dwn-btn" download><i class="fa fa-cloud-download"></i></a>
                                        </div>
                                        
                                    </div><!-- /.mejs-audio-wrapper -->
                                </div>
                            </div><!-- /.theme-container -->
                    </div>
                </div>
                <div class="clearfix"></div>

                

                <!-- For video
                    <div>
                        <div class="mejs-wrapper mejs-green">                            
                            <video id="player2" controls="controls">
                                <source src="vid.mp4" type="video/mp4" title="mp4">
                                <p>Your browser doesn't support video.</p>
                            </video>
                        </div>
                    </div>-->

                <!--<div class="mejs-audio-wrapper mejs-green">                        
                    <audio src="{{ page.audio }}" width="100%" height="48" controls="controls"></audio>
                </div> -->
                <!--<audio controls preload="none" class="mejs-audio-wrapper mejs-green" width="100%">
                    <source src="{{ page.audio }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>-->
                {% endif %}
                {{ content }}
            </div>
            <div class="PageNavigation">
                {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
                {% endif %}
                    <a class="back_home" href="/">Home</a>
                {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
                {% endif %}
            </div>           
        </article>
        <div class="col-md-6 col-md-offset-3">
            {% if page.comments %}
            <div id="disqus_thread"></div>
            {% endif %}
        </div>
    </div>
</section>